# Dependências e diretórios gerados
node_modules/
jspm_packages/
web_modules/

# Diretórios de build (ajuste para 'out' se for Next.js, ou 'dist' se for Vite)
/build/
/dist/
dist-ssr

# Arquivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
pids
*.pid
*.seed
*.pid.lock

# Arquivos de variáveis de ambiente (Crucial para não vazar senhas/chaves!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache
.tsbuildinfo

# Sistema operacional
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
